* {
    padding: 0;
    margin: 0;
    font-family: 微软雅黑;
}

button{
    cursor: pointer;
}

/*提示窗口居中显示*/
#mask-wrapper{
    width: 400px;
    height: 200px;
    border-radius: 5px;
    background-color: #FFFFFF;
    position: fixed;
    top:50%;
    left: 50%;
    margin: -100px 0 0 -200px;
}

#mask-wrapper #header-wrapper {
    width: 400px;
    height: 50px;
    background-color: #e6e9ea;
    border-radius: 5px 5px 0 0;
}

#mask-wrapper #header-wrapper h3{
    height: 50px;
    line-height: 50px;
    margin-left: 40px;
    display: inline-block;
}

#mask-wrapper #header-wrapper button{
    width: 30px;
    height: 30px;
    font-size: 20px;
    position: relative;
    right: -250px;
    border: 0;
    background-color: transparent;
    outline: none;
}

#mask-wrapper #header-wrapper button:hover{
    background-color: #ea3b3a;
}

#mask-wrapper #header-wrapper button:active{
    background-color: #cfe4db;
}

#mask-wrapper #content-wrapper{
    margin: 20px;
    line-height: 30px;
}

#mask-wrapper #content-wrapper #button-wrapper{
    text-align: center;
}

#mask-wrapper #content-wrapper #button-wrapper button{
    width: 60px;
    height: 26px;
    margin: 20px 5px 0 5px;
    font-size: 15px;
    background-color: #FFFFFF;
    border: 1px solid #cfd1ce;
    border-radius: 3px;
    outline: none;
}

#mask-wrapper #content-wrapper  #button-wrapper button:hover{
    background-color: #cfd1ce;
    outline: none;
}

#mask-wrapper #content-wrapper  #button-wrapper button:first-child:hover{
    background-color: #a1d8e7;
    outline: none;
}
/*遮罩颜色层*/
#mask{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00b49e;
    top:0;
    filter: alpha(opacity=30);  /*proprietary  IE  code */
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}