*{
    box-sizing: border-box;
}

#wrapper{
    width: 100%;
    background-color: #eeeeee;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 240px;
    padding-right: 160px;
    border: 1px solid #999999;
    /*清除浮动*/
    overflow: auto;
}

#middle_div{
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    padding: 20px;
}

#left_div{
    padding: 20px;
    border: 1px solid #999999;
    width: 200px;
    background-color: #FFFFFF;
    overflow: hidden;
    margin-left: -100%;
    position: relative;
    left: -220px;
}

#left_logo{
    float: left;
    width: 80px;
    height: 80px;
}

#left_p{
    float: right;
}

.column{
    float: left;
}

#right_div{
    width: 120px;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    padding: 20px;
    margin-left: -120px;
    position: relative;
    left: 140px;
}

#right_div img{
    display: block;
    padding: 10px 0;
}
