* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微软雅黑;

}

.wrapper {
    width: 100%;
    min-width: 1281px;
    overflow: auto;
}

.header_top {
    height: 58px;
    width: 100%;
}

.header_logo {
    width: 105px;
    margin-left: 60px;
}

.header_logo img {
    width: 32px;
    height: 32px;
    margin: 13px 0;
}

.header_logo p {
    color: #393a3a;
    font-size: 20px;
    font-weight: 500;
    float: right;
    margin: 19px 0 12px 12px;
}

.header_nav {
    float: left;
    position: absolute;
    right: 123px;
    top: 18px;
}

.header_nav ul li {
    list-style: none;
    float: left;
}

.header_nav ul li a {
    width: 64px;
    text-align: center;
    display: inline-block;
    margin-left: 23px;
    margin-right: 23px;
    margin-bottom: 18px;
    text-decoration: none;
    color: #787b83;
}

.header_nav ul li #a_1 {
    width: 32px;
}

.header_nav ul li a:hover {
    color: #e74f4d;
}

.header_nav ul #li_1:hover {
    border-bottom: 2px solid #e74f4d;
}

.header_nav ul #li_2:hover {
    border-bottom: 2px solid #e74f4d;
}

.header_nav ul #li_3:hover {
    border-bottom: 2px solid #e74f4d;
}

.header_nav ul #li_4:hover {
    border-bottom: 2px solid #e74f4d;
}

.header_nav ul #li_5:hover {
    border-bottom: 2px solid #e74f4d;
}

.header_login {
    width: 55px;
    position: absolute;
    right: 68px;
    top: 18px;
}

.header_login img {
    position: relative;
    top: 2px;
}

.header_login a {
    color: #e9605e;
}

.bk {
    position: relative;
}

.bk_fonts {
    position: absolute;
    left: 116px;
    top: 230px;
    color: #FFFFFF;
}

.bk img {
    width: 100%;
}

.bk .bk_fonts .p_1 {
    font-size: 54px;
}

.bk .bk_fonts .p_2 {
    width: 295px;
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 68px;
    margin-left: 10px;
    line-height: 32px;
}

.bk .bk_fonts a {
    display: block;
    width: 329px;
    margin-left: 10px;
    height: 63px;
    line-height: 63px;
    background-color: #e74f4d;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
}

.bk_bottom p {
    height: 52px;
    margin-top: 47px;
    padding: 0 84px 18px 0;
    border-right: 1px solid #767777;
    text-align: center;
}

.bk_bottom .bk_wrapper {
    height: 146px;
    font-size: 14px;
    float: left;
    color: #767777;
}

.bk_bottom .wrapper_1 {
    width: 236px;
    margin: 45px 0 67px 90px;
}

.bk_bottom .wrapper_1 img {
    margin-left: 56px;
}

.bk_bottom .wrapper_1 p {
    width: 236px;
}

.bk_bottom .wrapper_2 {
    width: 240px;
    margin: 45px 0 67px 96px;
}

.bk_bottom .wrapper_2 img {
    margin-left: 60px;
}

.bk_bottom .wrapper_2 p {
    width: 240px;
}

.bk_bottom .wrapper_3 {
    width: 247px;
    margin: 45px 0 67px 72px;
}

.bk_bottom .wrapper_3 img {
    margin-left: 62px;
}

.bk_bottom .wrapper_3 p {
    width: 247px;
}

.bk_bottom .wrapper_4 {
    width: 158px;
    margin: 45px 0 67px 72px;
}

.bk_bottom .wrapper_4 img {
    margin-left: 58px;
}

.bk_bottom .wrapper_4 p {
    width: 158px;
    padding: 0;
    border: 0;
}

.new_world {
    clear: both;
    width: 100%;
    height: 360px;
    color: #a1a1a1;
    font-size: 54px;
    background-color: #ededec;
    padding: 90px 237px 82px 216px;
}

.new_world img {
    display: block;
    margin: 0 auto;
}

.new_world p {
    margin-top: 46px;
}

.search_info {
    position: relative;
}

.search_info img {
    width: 100%;
}

.search_info .info_wrapper {
    width: 100%;
    height: 358.328px;
    padding-top: 52px;
    padding-bottom: 134px;
    position: absolute;
    top: 0;
    text-align: center;
}

.search_info .info_wrapper p {
    color: #FFFFFF;
    font-size: 14px;
}

.search_info .info_wrapper p:first-child {
    color: #FFFFFF;
    font-size: 22px;
}

.search_info .info_wrapper hr {
    width: 32px;
    border: 2px solid #FFFFFF;
    margin: 12px auto 22px auto;
}

.search_info .info_wrapper .info_select {
    margin: 54px auto 130px auto;
}

.search_info .info_wrapper .info_select select {
    width: 236px;
    height: 36px;
    margin-left: 15px;
    margin-right: 15px;
    border: 0;
}

.search_info .info_wrapper .info_select select:focus {
    /*border: 2px solid  #be4e48;*/
}

.search_info .info_wrapper .info_select input {
    width: 236px;
    height: 36px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    background-color: #be4e48;
    font-size: 16px;
    border: 0;
    color: #FFFFFF;
    letter-spacing: 12px;
    text-align: center;
}

.activity{
    width: 100%;
    height: 606px;
    background-color: #f8f8f7;
    padding: 102px 126px 116px 130px;
    text-align: center;
    color: #818181;
    font-size: 12px;
}

.activity div{
    float: left;
}

.activity div img{
    width: 220px;
    height: 336px;
    margin-left: 20px;
    margin-right: 20px;
}

.activity .img_2 img{
    margin-top: 10px;
}

.activity div span {
    margin-top: 10px;
    display: block;
}

.activity div .span{
    color: #323333;
    font-size: 16px;
}

.activity .span_0{
    color: #323333;
    font-size: 22px;
    margin-top: 0;
    padding-left: 30px;
    letter-spacing: 36px;
    text-align: center;
}

.more_info{
    position: relative;
}

.more_info img:first-child{

}

.more_info .info_1{
    width: 852px;
    height: 570px;
    padding-top: 132px;
    padding-bottom: 154px;
    text-align: center;
    position: relative;
    top: -570px;
    color: #FFFFFF;
}

.more_info .info_1 span{
    display: block;
}

.more_info .info_1 .span_1{
    position: relative;
    top: -12px;
    font-size: 49px;
}

.more_info .info_1 .span_2{
    position: relative;
    top: -40px;
    font-size: 122px;
}

.more_info .info_1 .span_3{
    position: relative;
    top: -18px;
    font-size: 24px;
}

.more_info .info_1 .span_4{
    position: relative;
    left: -24px;
    top: -2px;
    font-size: 20px;
}

.more_info .info_1 .span_triangel{
    width:0;
    height:0;
    border-top:24px solid transparent;
    border-bottom:24px solid transparent;
    border-right:24px solid #FFFFFF;
    position: relative;
    right: -827px;
    top: -164px;
}

.more_info .info_2{
    height: 284px;
    width: 420px;
    padding-top: 166px ;
    padding-bottom: 130px;
    text-align: center;
    color: #b0b0b0;
    font-size: 12px;
    line-height: 32px;
    position: absolute;
    right: 60px;
    top: 0;
}

.more_info .info_2 span{
    color: #323333;
    font-size: 20px;
}

.more_info .info_2 .span_01{
    color: #e7504d;
}
